[submodule "admin/tool/mfa"]
	path = admin/tool/mfa
	url = git@github.com:SaeidSharafi/moodle-tool_mfa.git
[submodule "mod/adobeconnect"]
	path = mod/adobeconnect
	url = git@github.com:SaeidSharafi/moodle-adobe.git
