/*
 *
 *
 *  This is your custom CSS file.
 *  Edumy will automatically load this custom CSS file on all pages of your Moodle site.
 *  IMPORTANT: Please remember not to override this file when updating Edumy theme. Keep a backup of this file before updating Edumy theme.
 *
 *
 */
#page,#page-content {
    background: #f5f8ff;
}
.ccn_nav_group .primary-navigation{
    display: none;
}
@media(min-width:1200px) {
    .ccn_nav_group {
        display: flex;
    }
    .ccn_nav_group #respMenu {
        margin-left: auto;
    }
    .ccn_nav_group .primary-navigation {
        max-width: 830px;
    }
}
.editmode-switch-form {
    position: fixed;
    bottom: 10px;
    width: 148px;
    text-align: center;
    font-size: 10px;
    font-family: "[[setting:primary_font]]";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #fff;
    padding: 0 6px 0 20px;
    border-radius: 50px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    height: 48px;
    z-index: 1;
}
.editmode-switch-form .input-group{
    align-items: center;
}
#page-admin-reportbuilder-edit .ccn_breadcrumb_widgets{
    display: none;
}
.user_setting_content .simplebar-content{
    overflow: auto !important;
}
.user_setting_content .simplebar-placeholder{
    display: none;
}
.secondary-navigation .navigation .nav-tabs {
    margin: 0;
    max-width: 930px;
}
.my_course_content_list .ccn_mc_progress .progress {
    height: .5rem;
}
.my_course_content_list .mc_content_list.cardview .thumb{
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
}
.my_course_content_list .mc_content_list.cardview{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.my_course_content_header .dropdown-menu{
    width: fit-content;
}

.secondary-navigation {
    border: none;
    align-items: stretch;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #003863;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .5));
    z-index: 99;
    position: relative;
}
.secondary-navigation .moremenu {
    box-shadow: none;
    background-color: inherit;
    border-top: none;
    border-bottom: none;
    height: 60px;
}
.secondary-navigation .moremenu .nav-tabs {
    border: none;
    background-color: inherit;
    max-width: none;
}
.secondary-navigation .moremenu .nav-tabs .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.secondary-navigation .moremenu .nav-tabs .nav-link:hover, .secondary-navigation .moremenu .nav-tabs .nav-link:focus {
    background-color: #013537;
}
.nav-tabs .dropdown-menu{
    width: max-content;
}

@media (max-width: 767.98px) {
    .editmode-switch-form label {
        position: initial;
        width: auto;
        height: auto;
        padding: initial;
        margin: initial;
        overflow: initial;
        clip: auto;
        white-space: nowrap;
        border: 0;
    }
}
