<section class="footer_one {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
    <div class="moove-container-fluid footer-columns">
        <div class="row">
            <div class="col-md-4 column-left">
                <ul class="list-unstyled">
                    <li>
                        <a href="/page/faq.php" target="_blank" class="">
                            {{#str}}faq, theme_pafco{{/str}}
                        </a>
                    </li>

                    <li>
                        <a href="/user/contactsitesupport.php" target="_blank" class="">
                            {{#str}}contact_us, theme_pafco{{/str}}
                        </a>
                    </li>

                </ul>

            </div>
            <div class="col-md-4 column-left">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://behdasht.gov.ir/" target="_blank" class="">
                            {{#str}}behdasht, theme_pafco{{/str}}
                        </a>
                    </li>

                    <li>
                        <a href="https://arman.vums.ac.ir/?AspxAutoDetectCookieSupport=1" target="_blank" class="">
                            {{#str}}arman, theme_pafco{{/str}}
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <a href="https://vums.ac.ir" target="_blank">
                    <img src="/theme/moove/pix/vums.png" class="w-100" style="max-width: 150px;">
                </a>
                <span class="text-center px-2">
                    {{#str}}copyright, theme_pafco{{/str}}
                </span>
            </div>
        </div>
    </div>
</section>
