.ccn_context_frontend header.ccnHeader1.header-nav.menu_style_home_one {
  height: 70px;
  margin-bottom: 0;
}
.block_pafco_slider_7.ccn_morphed .home14-slider:not(.style2)>.container.maxw1500 {
  max-width: none;
  padding: 0;
  width: 100%;
}
.block_pafco_slider_7.ccn_morphed .home14-slider:not(.style2) .banner-style-one .slide {
  border-radius: 0;
}
